* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #719ebd;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #0f2a3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 70px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background-color: #fff;
  color: #162938;
}

/*shoping cart*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-size: 18px;
}
body {
  margin: 4vh;
}
.container {
  position: fixed; /* or absolute, fixed, sticky, etc. */
  top: 140px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 15px;
  height: 82vh;
  box-shadow: 0px 0px 3px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 10%;
}
.fa-circle {
  color: orangered;
}
.searchBar {
  width: 100%;
  background-color: #eee;
  border-radius: 3px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  border: none;
  outline: none;
  background: none;
}
.glass:hover {
  color: orangered;
  cursor: pointer;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-brands {
  font-size: 25px;
  margin: 0 10px;
  color: #333;
  cursor: pointer;
}
.fa-brands:hover {
  color: orangered;
}
.data {
  width: 1000px;
  border-radius: 3px;
  height: 92vh;
  overflow-y: auto;
}
.top {
  position: fixed;
  top: 100px;
  width: 1000px; /* Set the width as needed */
  height: 60px; /* Set the height as needed */
  border-radius: 3px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.header {
  height: 200px;
  border-radius: 3px;
  background-color: #333;
  margin: 3vh 0px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header p {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
#root {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.box {
  margin: 1px;
  background-color: #162938;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 15px;
}
.img-box {
  width: 100%;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
  object-position: center;
}
.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
h2 {
  font-size: 20px;
  color: orangered;
}
button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: #333;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: orangered;
}
::-webkit-scrollbar {
  display: none;
}

/*Add to Cart*/
.sidebar2 {
  width: 250px;
  height: 600px;
  border-radius: 5px;
  background-color: #eee;
  margin-top: -380px;
  padding: 15px;
  text-align: center;
  overflow: scroll;
  /*overflow-x: scroll; */
}

.head2 {
  background-color: goldenrod;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}
.fa-trash:hover {
  cursor: pointer;
  color: #333;
}