@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f3640;
}

.login {
  height: 500px;
  width: 900px;
  background-color: #353b48;
  border-radius: 5%;
  margin: center;
  box-shadow: 0 15px 25px 0 rgba(0, 202, 168, 0.9);
}
.Left-login img {
  height: 280px;
  width: 300px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 50px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.9);
}
.label h1 {
  margin-top: 30px;
  margin-right: 55%;
  text-align: center;
  color: teal;
}
.Right-login h1 {
  color: teal;
}
.Right-login {
  height: 370px;
  width: 350px;
  margin-top: -330px;
  position: absolute;
  margin-left: 500px;
  text-align: center;
}
.Right-login .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.Right-login .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}
.Right-login .btn {
  width: 100%;
  height: 45px;
  background: teal;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(241, 2, 2);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.Right-login .btn:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.Right-login .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.post .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

/****Responsive Design *****/
@media screen and (max-width: 768px) {
  .login {
    flex-direction: column;
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .Left-login img {
    margin-top: -100%;
  }
  .Right-login {
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin-right: 470px;
    margin-bottom: -130%;
  }
}

/******Registerpage******/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f3640;
}

.Register {
  height: 500px;
  width: 900px;
  background-color: #353b48;
  border-radius: 5%;
  margin: center;
  box-shadow: 0 15px 25px 0 rgba(0, 202, 168, 0.9);
}
.Left-Register img {
  height: 280px;
  width: 300px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 50px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.9);
}
.label h1 {
  margin-top: 30px;
  margin-right: 55%;
  text-align: center;
  color: teal;
}
.Right-Register h1 {
  color: teal;
}
.Right-Register {
  height: 370px;
  width: 350px;
  margin-top: -380px;
  position: absolute;
  margin-left: 500px;
  text-align: center;
}
.Right-Register .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.Right-Register .btn {
  width: 100%;
  height: 45px;
  background: teal;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(235, 1, 1, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.Right-Register .btn:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

/****Responsive Design *****/
@media screen and (max-width: 768px) {
  .Register {
    flex-direction: column;
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .Left-Register img {
    margin-top: -100%;
  }
  .Right-Register {
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin-right: 470px;
    margin-bottom: -130%;
  }
}
